@use '../../functions/getters' as func;
@use '../../mixins' as mix;

$social-button-size: 28px;

.social-buttons
{
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-content: center;
	align-items: center;

	&--navigation {
		@include mix.media-breakpoint-up(lg) {
			display: none;
		}
	}

	&__icon {
		color: func.get-color(white);
		background-color: func.get-color(primary);
		font-size: 20px;
		width: $social-button-size;
		height: $social-button-size;
		padding: 5px;
		border-radius: 50%;
	}

	&__title {
		color: func.get-color(primary);
		font-weight: 600;
	}
}
