@use '../functions/getters' as func;
@use '../mixins' as mix;

$top-border-radius: 32px;
$bottom-border-radius: 32px;

@include mix.media-breakpoint-up(lg) {
	$top-border-radius: 30px;
	$bottom-border-radius: 10px;
}

.card
{
	background-color: func.get-color(white);
	border-radius: $top-border-radius $top-border-radius $bottom-border-radius $bottom-border-radius;
	position: absolute;

	&-primary
	{
		box-shadow: 0px 12px 24px 0px #006C951A;
		width: 70%;
		padding: 30px 20px 30px 20px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;

		@include mix.media-breakpoint-up(lg) {
			width: 80%;
			padding: 40px;
		}
	}
}
