@use '../functions/getters' as func;
@use '../mixins' as mix;

.header-search {

	margin-top: 10vh;

	&__primary-title {
		@include mix.weight(semi-bold);
	}

	&__primary-title,
	&__secondary-title {
		text-align: center;

		@include mix.media-breakpoint-up(lg) {
			text-align: left;
		}
	}

	&__card {
		@include mix.padding(top, md);
		@include mix.padding(bottom, xs);

		top: 20vh;
		display: flex;
		flex-direction: column;
		@include mix.media-breakpoint-up(lg) {
			top: 80vh;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;

		@include mix.media-breakpoint-up(lg) {
			flex-direction: row;
		}

		@include mix.media-breakpoint-up(lg) {
			@include mix.padding(all, xs);
			width: 100%;
			border: 1px solid func.get-color(light-grey);
			border-radius: 72px;
		}
	}

	&__separator {
		display: none;
		@include mix.media-breakpoint-up(lg) {
			height: 40px;
			@include mix.margin(top, xs);
			border-right: 1px solid func.get-color(muted);
			display: flex;
		}
	}
}
