@use '../functions/getters' as func;
@use './button/social-buttons';

.navigation {
	position: absolute;
	right: 0;

	width: 18rem;
	height: 100vh;

	background-color: func.get-color(white);

	transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0);

	transform: translateX(110%);
	z-index: 0;

	@media screen and (min-width: func.get-breakpoint(lg)) {
		left: 30%;
	}

	@media screen and (min-width: func.get-breakpoint(xl)) {
		left: 50%;
	}

	@media screen and (min-width: func.get-breakpoint(lg)) {
		transform: unset;
		width: 100%;
		height: unset;
		position: relative;
		background-color: transparent;

		a, a:hover {
			color: func.get-color(white);
		}

		.social {
			&__buttons {
				display: none;

				&-title {
					display: none;
				}
			}
		}

		.header__logo {
			display: none;
		}
	}

	&::before {
		background-color: func.get-color(black, 0.5) !important;
		content: "";
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		transform: translateX(-100%);
		z-index: -3;
		transition: all .25s ease;
		width: 110vw;
		height: 100vh;
		display: none;
		opacity: 0;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
		padding: 0;

		list-style: none;

		@media screen and (min-width: func.get-breakpoint(lg)) {
			flex-direction: row;
		}
	}

	&__item-title {
		color: func.get-color(primary);
		font-size: 1.2rem;
		font-weight: 400;
		text-decoration: none;
		padding-left: 30px;
	}

	&__bottom {
		padding-left: 30px;
		position: absolute;
		bottom: 30px;
	}
}
