@use '../mixins' as mix;

.our-partners
{
	overflow: hidden;
	max-width: 100vw;
	@include mix.padding(bottom, xl);

	&__row {
		justify-content: center;
	}

	&__title {
		@include mix.margin(y, 4xl, 2);
	}

	&__item {
		@include mix.margin(x, 4xl);
	}
}
