@use '../mixins' as mix;

.row {
	display: flex;
	flex-direction: row;

	&--fluid {
		width: 100%;
	}

	&--reverse {
		flex-flow: row-reverse;
	}

	&--col-xs {
		@include mix.media-breakpoint-down(lg) {
			flex-direction: column;
		}
	}
}

.col {
	display: flex;
	flex-direction: column;
	width: 100%;

	&-1 {
		width: 1em;
	}

	&-2 {
		width: 2em;
	}

	&-3 {
		width: 3em;
	}

	&--in-button {
		@include mix.padding(padding-left, md);
	}
}
