@use '../mixins' as mix;

.row {
	display: flex;
	flex-direction: row;

	&--fluid {
		width: 100%;
	}

	&--reverse {
		flex-flow: row-reverse;
	}
}

.col {
	display: flex;
	flex-direction: column;
	width: 100%;

	@include mix.media-breakpoint-up(lg) {
		width: unset;
		flex-direction: row;
	}

	&-1 {
		width: 1em;
	}

	&-2 {
		width: 2em;
	}

	&-3 {
		width: 3em;
	}

	&--row {
		@include mix.media-breakpoint-up(lg) {
			flex-direction: column;
		}
	}
}
