@use '../functions/getters' as func;
@use '../mixins' as mix;
* {
	font-family: "Poppins", sans-serif;
	font-style: normal;
}

.text {

	&-normal {
		font-weight: normal;
		font-size: unset;
	}

	&-primary {
		color: func.get-color(primary);
	}

	&-muted {
		color: func.get-color(light-grey);
	}

	&-uppercase {
		text-transform: uppercase;
	}
}

.h1 {
	font-size: 2em;
}

.h2 {
	font-size: 1.2em;
}

.section {

	&__title {
		font-size: 2em;
		text-transform: uppercase;
		font-weight: 700;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 20px;
		@include mix.margin(top, 4xl);
		@include mix.margin(bottom, md);
	}
}
// helperek vagy inkább config mapok!
