$theme-colors: (
		primary: #008EC4,
		white: #FFF,
		black: #000,
		secondary: #1A1A1A,
		muted: #8C8C8C,
		gradient-1: #0081B0,
		gradient-2: #01719B,
		light-grey: #D9D9D9,
		light-primary: #EBF9FF,
) !default;
